<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBacB9gbR2oR8z_Um6mioVwpuFlRKcSwYk</string>
	<key>GCM_SENDER_ID</key>
	<string>6928358144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esther.ReceiptsRewards</string>
	<key>PROJECT_ID</key>
	<string>receipts-rewards-app</string>
	<key>STORAGE_BUCKET</key>
	<string>receipts-rewards-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6928358144:ios:eef3b3a08be5181e7bf1e5</string>
</dict>
</plist>